.modalOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modalContent {
    background: white;
    max-height: 80vh;
    overflow-y: auto;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
    min-width: 25rem;
    max-width: 1300px;
    width: 90%;
    min-height: 9.375rem;
    transform: translate(-50%, -40%);
    left: 50%;
    top: 40%;
    position: fixed;
}

 .modalHeader {
    margin-top: 0;
    font-size: 1.4rem;
    border-bottom: 1px solid #ddd;
    background: #f3f2f1;
    padding: 30px;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
 }

.selectWrapper {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    width: 18%;
}

.govuk-select {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.modalBody {
    padding: 30px;
}

.modalFooter {
    padding: 30px;
    border-top: 1px solid #ddd;
}