.govuk-section-break {
  &--m {
    margin-bottom: 15px;
    margin-top: 15px;
  }

  &--l {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  &--xl {
    margin-bottom: 30px;
    margin-top: 30px;
  }

}