# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
build
dist-ssr
*.local
coverage

.env
cypress.env.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# materials_ui specific ignores for playwright and test results
materials_ui/tests/.auth/
materials_ui/test-results/
materials_ui/playwright-report/
materials_ui/blob-report/
materials_ui/playwright/.cache/

# Playwright
/tests/.auth/

# pdfViewer test pdfs not required in prod
/public/test-pdfs/

#terraform
.terraform
terraform.tfstate
*.tfstate*
*.tfstate.*
_backend.tf
*_override.tf
.terraform.lock.hcl

/.vite/
