{
  "plugins": ["prettier-plugin-organize-imports"],
  "singleQuote": true,
  "trailingComma": "none",
  "objectWrap": "collapse",
  "semi": true,
  "useTabs": false,
  "bracketSpacing": true,
  "printWidth": 100,
  "endOfLine": "crlf"
}