.definition-list {
  font-weight: 400;
  font-size: 1.1875rem;
  line-height: 1.25;
  margin: 20px 0;

  &__row {
    display: flex;
    margin-bottom: 10px;
  }

  &__title {
    margin-right: 5px;
  }

  &__description {
    margin-inline-start: 0;
  }

  &--fixed-width {
    .definition-list__title {
      width: 200px;
    }
  }
}
