.redaction-tooltip {
  display: none;
}

.redaction-box:hover .redaction-tooltip,
.redaction-box:focus .redaction-tooltip {
  display: block;
}

.redaction-box:focus {
  outline: 0.2rem solid #ffdd00;
}
