
.redaction-tooltip {
  display: none;
}

.redaction-box:hover .redaction-tooltip,
.redaction-box:focus .redaction-tooltip {
  display: block;
}

.redaction-box.interactive {
  cursor: pointer;
  pointer-events: auto;
  z-index: 11;
  &:focus {
    outline: 0.2rem solid #ffdd00;
  }
}
