@import "./styles.scss";

:global(.govuk-tabs > .govuk-tabs__panel) {
  padding: 0 !important;
  &:focus {
    outline: 0.2rem solid #ffdd00;
  }
}

.tabsWrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: start;
}
.tabsList {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding: 0;
  width: 100%;
  min-width: 100%;
  margin: 0 2.8rem 0 .5rem;
  overflow-y: hidden;
  overflow-x: auto;
}

.activeTab {
  background-color: white;
  border-bottom: none;
  .tabButton {
    padding-right: 2.5rem;
  }
}

.inactiveTab {
  border: none;
  text-decoration: underline;
}

.tabListItem {
  display: flex;
  position: relative;
  max-width: 13rem;
  margin-right: 0.3125rem;
}
.tabButton {
  font-family: "NewTransport", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  width: 100%;
  white-space: nowrap;
  padding: 0.165rem 2.5rem 1rem 1rem;
  font-size: 1.1875rem;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:focus {
    outline: 0;
    color: #0b0c0c;
    background-color: transparent;
    border-bottom: .625rem solid #1d70b8;

    span {
      font-weight: bold;
    }
  }
}
.tabLabel {
  max-width: 11.25rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.inactiveTab:hover {
  text-decoration: underline;
  text-decoration-thickness: max(0.1875rem, 0.1875rem, 0.12em);
}

.tabCloseButton {
  width: 1.5625rem;
  height: 1.5625rem;
  background-color: transparent;
  position: absolute;
  border: none;
  right: 0.5rem;
  /* top: 1rem; */
  padding: 0;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  background-color: #b1b4b6;
  &:focus {
    outline: 0;
    background-color: #ffdd00; 
    color: #0b0c0c;
  }
}

.arrowBtnsWrapper {
  display: flex;
  justify-content: space-between;
  gap: .5rem;
  left: .5rem;
  top: 1.22rem;
}

.tabNextButton,
.tabPreviousButton {
  padding: 0.3125rem 0;
  margin: 0;
  width: 100%;
  img {
    fill: #1d70b8;
  }
  &:disabled {
    cursor: not-allowed;
    img {
      fill: #b1b4b6;
      opacity: .1
    }
  }
  &:hover:not(:disabled) {
    img {
      fill: #fff;
    }
  }
}

.tabPreviousButton {
  img {
    transform: rotate(90deg);
  }
}
.tabNextButton {
  img {
    transform: rotate(-90deg);
  }
}

.contentArea {
  &:focus {
    outline: 0.2rem solid #ffdd00;
  }
}

.tabsDropDownWrapper {
  position: absolute;
  /* top: 1.1rem; */
  right: 0.3125rem;
}

.tabsRegionLabel,
.tabPanelRegionLabel {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.hideTabDocument {
  visibility: hidden;
  height: 0px;
  width: 0px;
}
