.areaRedact :global(.react-pdf__Page__annotations a),
.areaRedact :global(.react-pdf__Page__textContent span) {
  pointer-events: none !important;
}

.areaRedact :global(.react-pdf__Page__annotations),
.areaRedact :global(.react-pdf__Page__textContent) {
  cursor: crosshair;
}

.deletion :global(.react-pdf__Page__annotations a),
.deletion :global(.react-pdf__Page__textContent span) {
  pointer-events: none !important;
}

:global(.react-pdf-page-wrapper):focus {
  box-shadow: inset 0 0 0 0.0625rem #0b0c0c;
  outline: 0.125rem solid #fd0;
  outline-offset: 0;
}