.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: white;
  padding: 20px;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  min-width: 25rem;
  max-width: 1300px;
  width: 90%;
  min-height: 9.375rem;
  transform: translate(-50%, -40%);
  left: 50%;
  top: 40%;
  position: fixed;
}

.modal-title {
  margin-top: 0;
  font-size: 1.4rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.modal-body {
  margin-top: 15px;
}

.modal-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  margin: 0;
  padding: 0;

  color: #ffffff;
  background-color: #0b0c0c;
  font-size: 2.25rem;
  font-weight: 700;
  font-family: inherit;
  line-height: 1;
  cursor: pointer;
  border: none;
}

.modal-close-btn::before {
  content: none;
}

.modal-close-btn:hover {
  background: #005a30;
}
