.drawer-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 99;
  width: 370px;
  background: white;
  color: black;
  box-shadow: 5px 0px 4px 0px #00000040;
  height: 100%;
}

.drawer-header {
  background: #f3f2f1;
  padding: 20px 50px 20px 50px;
}

.drawer-body {
  padding: 20px 50px 20px 50px;
}

.drawer-heading {
  margin: 0 10px;
}
