.dropDownButtonWrapper {
  position: relative;
}

.panel {
  position: absolute;
  right: 0;
  background: #fff;
  z-index: 1007;
  overflow-y: hidden;
  filter: drop-shadow(0 1px 0.15rem #000);
}

.panelList {
  display: flex;
  white-space: nowrap;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.panelListWithSeparator {
  & li:last-child {
    border-top: 1px solid #b1b4b6;
  }
}

.panelListItem {
  width: 100%;

  &:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }

  & button {
    margin: 0;
    text-align: right;
    font-size: 1rem;
    padding: 0.75rem;
    width: 100%;
    color: #000;
  }
  & :hover:not(:disabled):not(:focus) {
    color: #000;
    background: #ddd;
  }
  & button:disabled {
    cursor: not-allowed;
    color: #b1b4b6;
  }
}


