.pdf-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F3F2F1;
  padding: 2rem;
  border: 2px solid black;
}

.pdf-page-container canvas {
  display: flex;
  max-width: 100%;
  height: auto !important;
}

.react-pdf__Page {
  background-color: #F3F2F1 !important;
  position: relative;
}

.govuk-pagination {
  margin: 30px;
}

.pagination-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0 2rem;
  box-sizing: border-box;
}
