/* ==========================================================================
   #COLOURS
   ========================================================================== */

$moj-border-color: rgb(161, 172, 178);
$moj-secondary-text-color: rgb(69, 74, 76);

$moj-secondary-link-color: rgb(69, 74, 76);
$moj-secondary-link-hover-color: rgb(23, 24, 25);

// GOV.UK orange does not have accessible color contrast
$moj-warning-colour: rgb(235, 97, 28);
// Links need higher contrast still so a modified orange for links
$moj-warning-link-colour: rgb(199, 82, 40);

// Custom colour required for passing WCAG 2.2 AA contrast text/background and
// background/surrounding
$moj-button-menu-color: #949494;
$moj-button-menu-hover-color: #767676;

$govuk-border-width-form-element: 2px;

$govuk-text-colour: rgb(10, 10, 10);
$govuk-focus-colour: rgb(0, 57, 153);
$govuk-focus-width: 3px;
$govuk-focus-text-colour: rgb(255, 255, 255);

.moj-button-menu {
  display: inline-block;
  position: relative;
}

.moj-button-menu__toggle-button,
.moj-button-menu__single-button {
  margin-bottom: 0;
  vertical-align: baseline;
}

.moj-button-menu__toggle-button span {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.moj-button-menu__toggle-button svg {
  margin-top: 2px;
  transform: rotate(180deg);
}

.moj-button-menu__toggle-button[aria-expanded='true'] svg {
  transform: rotate(0deg);
}

.moj-button-menu__wrapper {
  z-index: 10;
  margin: 5px 0 0;
  padding: 0;
  list-style: none;

  &,
  .moj-button-group--inline {
    position: absolute;
    width: 200px;
  }

  &--right {
    right: 0;
  }
}

.moj-button-menu {
  button {
    margin-bottom: 0;
  }
}

.moj-button-menu__item {
  display: inline-block;
  width: auto;
  margin-right: 10px;
  margin-bottom: 10px;
  vertical-align: baseline;

  &:last-child {
    margin-right: 0;
  }
}

/* Menu items with JS */
.moj-button-menu li > .moj-button-menu__item {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 10px;
  border: $govuk-border-width-form-element solid transparent;
  border-bottom: 1px solid $moj-button-menu-color;
  border-radius: 0;
  color: $govuk-text-colour;
  background-color: #f3f2f1;
  text-align: left;
  vertical-align: top;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;

  font-size: 19px;
  line-height: 19px;

  &:link,
  &:visited,
  &:active,
  &:hover {
    color: #fff;
    text-decoration: none;
  }

  &:active,
  &:hover {
    color: #ffffff;
  }

  // Fix unwanted button padding in Firefox
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  &:hover {
    background-color: $moj-button-menu-hover-color;
  }

  &:focus {
    z-index: 10;
    border-color: $govuk-focus-colour;
    outline: $govuk-focus-width solid transparent;
    box-shadow: inset 0 0 0 1px $govuk-focus-colour;
  }

  &:focus:not(:active):not(:hover) {
    border-color: $govuk-focus-colour;
    color: $govuk-focus-text-colour;
    background-color: $govuk-focus-colour;
    box-shadow: 0 2px 0 $govuk-focus-text-colour;
  }
}

